Delivery/20250618/SkyNET_I2A2_AI_Agent_20250618.json
{
  "name": "SkyNET-I2A2-Final",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        100,
        -20
      ],
      "id": "45400aee-d62d-44a6-8700-168fc1528473",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        760,
        220
      ],
      "id": "8a1dd361-1de9-4c10-afcb-bdf3ee00a7cf",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.concatenated_data }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "="
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        880,
        220
      ],
      "id": "051d1c03-bed6-46ce-bc09-4eb4a49b119b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        880,
        440
      ],
      "id": "763c475f-b8d9-4a45-9bc6-bca8f3dbd1b9",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "allowFileUploads": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -1000,
        380
      ],
      "id": "964c35b5-0dd3-42f5-bcfd-cd66ce166d95",
      "name": "When chat message received",
      "webhookId": "9e1dc75c-e2a9-4f68-8bce-58eb9c1c0418"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -2520,
        240
      ],
      "id": "ebc80596-1f3c-462e-873f-54b17cea216d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2620,
        560
      ],
      "id": "1774679b-d5bf-4db4-a061-7ce20fc923fb",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -2440,
        460
      ],
      "id": "3946c0ae-02a2-4616-be32-e763f01c8423",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "Jvc18ruMK9HTmyiI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2060,
        640
      ],
      "id": "9b78d91d-7aef-4225-ac1a-bf119ee514d4",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -2420,
        680
      ],
      "id": "91a2257a-1f0d-4970-b856-2ebe9b642786",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "Pbx9RIxTcXUXVo7r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -2340,
        860
      ],
      "id": "77b90ed5-c467-43cb-8ad5-670d39f3db42",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.\n\nEvery time you find \"VALOR NOTA FISCAL\" you will output this value in a monetary value in BRL prior to the number.",
        "topK": 20
      },
      "id": "355b1525-84de-4cd9-bcbe-9dc0b9f2cbe4",
      "name": "Vector Store Tool1",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -2320,
        480
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yElTDSmBRrarHROvHVbOGo8uEP_b0CuD",
          "mode": "list",
          "cachedResultName": "NF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yElTDSmBRrarHROvHVbOGo8uEP_b0CuD"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        -100
      ],
      "id": "9d9a07f9-c57c-4b31-942e-31101238c273",
      "name": "Files Created",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZI7qTQfeTOFunnd3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "custom"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1yElTDSmBRrarHROvHVbOGo8uEP_b0CuD",
          "mode": "list",
          "cachedResultName": "NF",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yElTDSmBRrarHROvHVbOGo8uEP_b0CuD"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -1000,
        100
      ],
      "id": "c5b781d3-f01b-4683-95e9-919032447d89",
      "name": "Files Updated",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZI7qTQfeTOFunnd3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -320,
        -20
      ],
      "id": "7cae7d7a-7bc3-4795-a8c3-6c89abc4fb86",
      "name": "Compression"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -540,
        -20
      ],
      "id": "7ffb6c44-a156-4347-bdfb-52ed376242ea",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "ZI7qTQfeTOFunnd3",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "098effa2-9ef4-4acd-8af9-0abf132fc06b",
              "leftValue": "={{ $json.mimeType }}",
              "rightValue": "application/zip",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -780,
        0
      ],
      "id": "602a7dcf-7f38-40d6-af37-00da83d6b069",
      "name": "If ZIP"
    },
    {
      "parameters": {
        "functionCode": "let results = [];\n\nfor (item of items) {\n    for (key of Object.keys(item.binary)) {\n        results.push({\n            json: {\n                fileName: item.binary[key].fileName\n            },\n            binary: {\n                data: item.binary[key],\n            }\n        });\n    }\n}\n\nreturn results;"
      },
      "name": "Split Up Binary Data",
      "type": "n8n-nodes-base.function",
      "position": [
        -120,
        -20
      ],
      "typeVersion": 1,
      "id": "424d1a5a-ae8f-4ef6-9624-2b5f2a0c7d82"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "data"
            }
          ]
        },
        "options": {}
      },
      "id": "0a7d9197-e4d5-4fd2-acf9-52e0e5425e82",
      "name": "Summarize",
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        540,
        -20
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "1b0dbd58-c802-41a7-a160-4564c9ef4be2",
      "name": "Aggregate1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        320,
        -20
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        780,
        -20
      ],
      "id": "9ee35e4a-1196-4be0-a25a-baf05d1139a1",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "Pbx9RIxTcXUXVo7r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are a data assistant. Answer the question below using the data available in the invoices (notas fiscais in Portuguese) from the database.\n\nQuestion: {{ $json.chatInput }}\n\nIMPORTANT: You will see numeric values in monetary brazilian format, so take heed of it when calculating numbers, checking values, maximuns, mininimums and every math operation that is applicable in the financial realm.\n\nIf there is not enough data, respond only: \"Não encontrado.\"\n\nYou must answer in Brazilian portuguese.\n\nDo not forget to use the monetary values well formated as <currency as R$><space><number>,<decimal part with two digits>"
        }
      },
      "id": "d61f11ed-f5ec-4c11-a1b3-69e372ae2a01",
      "name": "AI Agent1",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        -460,
        380
      ],
      "typeVersion": 1.9
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        700
      ],
      "id": "b6f3e024-9ce9-4b25-972e-b0b70c17d426",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 1000
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -420,
        700
      ],
      "id": "e6013b5b-ffa3-4e5a-828c-2d5daea42ade",
      "name": "Postgres Chat Memory1",
      "credentials": {
        "postgres": {
          "id": "Jvc18ruMK9HTmyiI",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        1080
      ],
      "id": "9857cb65-33ff-42c1-a0ac-fcdf8ad3fc03",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.2,
      "position": [
        -340,
        900
      ],
      "id": "6ea5de84-058d-4557-9ea3-6d661194134e",
      "name": "Supabase Vector Store2",
      "credentials": {
        "supabaseApi": {
          "id": "Pbx9RIxTcXUXVo7r",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -420,
        1080
      ],
      "id": "d51e80a2-71ca-4b2e-b272-d13659299938",
      "name": "Embeddings Google Gemini2",
      "credentials": {
        "googlePalmApi": {
          "id": "wMEeRzQRKk6BF3se",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.\n\nEvery time you find \"VALOR NOTA FISCAL\" you will output this value in a monetary value in BRL prior to the number.",
        "topK": 100
      },
      "id": "aad2682f-28ff-4505-9334-a2513f0a6f37",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        -260,
        720
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "connections": {
    "Extract from File": {
      "main": [
        [
          {
            "node": "Aggregate1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Files Created": {
      "main": [
        [
          {
            "node": "If ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files Updated": {
      "main": [
        [
          {
            "node": "If ZIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Up Binary Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If ZIP": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Split Up Binary Data": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate1": {
      "main": [
        [
          {
            "node": "Summarize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store2": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini2": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a7c23429-f74c-46e5-b5bb-9908f37a0587",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e97a599b909d1ee4db0122ac135a4c133151c731f4297f1285a73ed584540ddf"
  },
  "id": "ylntkkjVg65bwRxG",
  "tags": []
}